{% extends 'base.html' %}

{% block content %}
<div class="message-box">
    <h2>Room: {{code}}</h2>
    
    <!-- New section for displaying members -->
    <div class="members">
        <h3>Members:</h3>
        <ul id="members-list">
            {% for member in members %}
                <li>{{ member }}{% if member == session.get('name') %} (Me){% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" 
        rows="3" 
        placeholder="Message" 
        name="message" 
        id="message"
        />
        <button type="submit" name="send" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>

<!--Socket.io-->
<script type="text/javascript">
    var socket = io();

    const messages = document.getElementById('messages');
    
    const createMessage = (name, msg) => {
        //Date here is not actual time, just styling
        //To get actual time, store in server and use that variable here
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleTimeString()}
            </span>
        </div>
        `
        messages.innerHTML += content;
    };

    //From send() in main.py
    socket.on('message', (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        const message = document.getElementById('message')
        if (message.value == "") return;
        socket.emit('message', {data: message.value});
        message.value = "";
    };
</script>
{% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}");
    </script>
{% endfor %}
{% endblock %}